.form-container {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 20px;
    background: #02000016;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

#dashboard-filter-container {
    height: 40px;
}

#dashboard-filter-container h2 {
    margin: 0px;
}

#dashboard-filter {
    margin: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#dashboard-filter-header {
    width: 15%;
}

#dashboard-filter select {
    width: 20%;
    height: 100%;
    border: solid 1px #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 150px;
}

#dashboard-filter .searchbar {
    width: 20%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box; 
    min-width: 150px;
}

#dashboard-filter button {
    font-size: 75%;
    height: 100%;
    width: 100%;
}

#dashboard-filter-end-buttons {
    display: flex;
    justify-content: flex-end;
    grid-gap: 10px;
    margin-left: auto;
    height: 100%;
    width: 40%;
}